<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8" />
  <title>Alle Clubs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="/CSS/Clubs.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <a href="javascript:history.back()" class="back-button">
    <i class="fas fa-arrow-left"></i>
  </a>

  <header>
    <img id="teamlogo" src="/assets/Logo.png" alt="Offside Logo" />
    <img id="ealogo" src="/assets/eaLogo.png" alt="EA Logo" />
  </header>

  <main>
    <div id="container">
      <section class="zone1">
        <h1>Alle Clubs</h1>
        <div class="search-wrapper">
          <input id="searchbar" type="text" placeholder="Zoek club..." />
          <p class="glass">
            <i class="fa-solid fa-magnifying-glass"></i>
          </p>
          <button id="searchbutton">Zoeken</button>
        </div>
      </section>

      <section class="zone2" id="clubs-list">
        <% clubs.forEach(club=> { %>
          <div class="team" data-name="<%= club.name.toLowerCase() %>">
            <% if (club.crest) { %>
              <img src="<%= club.crest %>" alt="<%= club.name %> logo" class="team-logo" />
              <% } %>
                <span class="team-name">
                  <%= club.name %>
                </span>
                <form method="POST" class="fav-form" action="/toevoegen-favorieteclub">
                  <input type="hidden" name="clubId" value="<%= club.id %>" />
                  <button class="favoriet-btn" type="submit" style="color:#18e018">
                    <i class="fa-solid fa-heart"></i>
                    Favoriet</button>
                </form>
                <form method="POST" class="blacklist-form" action="/toevoegen-blacklist">
                  <button class="blacklist-btn" type="submit" style="color:red">
                    <i class="fa-solid fa-x"></i>
                    Blacklist</button>
                </form>
          </div>
          <% }); %>
      </section>
    </div>
  </main>


</body>

</html>